.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card-body{
    padding: 0 25px;
    margin-bottom: 5em;
}

.card-footer{
    padding: 10px 15px;
    background-color: rgb(32, 32, 32);
    border-top: none;
}